<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Roberto West">
        <meta name="description" content="">

        <title>{% block title %}Mi Sitio{% endblock %}</title>
        {% load static %}

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap4/css/bootstrap.min.css' %}">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/jumbotron.css' %}">

        <!-- Cargar Iconos -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css' %}">

    </head>
    <body>
        {% include "layout/jumbotron/navbar.html" %}

        <!-- contenido -->
        {% block content %}
        {% endblock %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>